:root {
    /* --bg-color: bisque; */
    --bg-color: white;
    --panel-size: 440px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.hide {
    display: none;
}

.main-menu {
    display: flex;
}

.main-menu .item {
    margin-left: 20px;
    cursor: pointer;
    width: 90px;
    text-align: center;
}

.main-menu .selected {
    background: var(--bg-color);
}

.character-object,
.shop-object,
.exchange-object,
.workshop-object {
    width: 600px;
    height: var(--panel-size);
    background: var(--bg-color);
}
.contract-container {
    position: absolute;
    height: var(--panel-size);
    overflow: auto;
}

.contract-block {
    position: relative;
    padding: 5px 10px;
    margin: 15px 10px;
    width: 550px;
    border: 1px solid black;
}

.open {
    height: 200px;
}

.cont-block-items {
    display: flex;
    flex-direction: row;
    margin: 10px 0 5px;
}

.cont-block.item.title {
    margin: 5px 10px 0;
}

.nal-style {
    margin: 4px 0 9px;
}

.contract-card {
    background: bisque;
    z-index: 100;
}
