:root {
    --bg-color: bisque;
    --panel-size: 440px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.hide {
    display: none;
}

.main-menu {
    display: flex;
}

.main-menu .item {
    margin-left: 20px;
    cursor: pointer;
    width: 90px;
    text-align: center;
}

.main-menu .selected {
    background: var(--bg-color);
}

.character-object,
.shop-object,
.exchange-object,
.workshop-object {
    width: 600px;
    height: var(--panel-size);
    background: var(--bg-color);
}
.contract-container {
    position: absolute;
    height: var(--panel-size);
    overflow: auto;
}

.contract-block {
    position: relative;
    padding-bottom: 10px;
    margin: 15px 10px;
    width: 580px;
    border-bottom: 1px solid black;
}

.contract-block:last-child {
    border: none;
}

.cont-block-items {
    display: flex;
    flex-direction: row;
}
.cont-block.item.title {
    margin: 0 10px;
}

.nal-style {
    margin: 4px 0 5px;
}
